body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 80px;
    grid-template-areas: "content"
                         "footer ";
}

.sidebar {
    background-color: red;
    grid-area: sidebar;
}

.main {
    background-color: blue;
    grid-area: content;
}

.footer {
    background-color: green;
    grid-area: footer;
}

.main__header > .img {
    grid-area: img;
}

.main__header > .detail {
    grid-area: dtl;
}

.main__header {
    /*display: grid;*/
    justify-items: center;
    /*grid-template-areas: "img"
                         "dtl"
}*/


.sm--hide {
    display: none;
}

.img > img {
    width: 150px;
}

.details {
    text-align: center;
}



@media screen and (min-width: 600px) {
    body {
        height: 100vh;
        display: grid;
        grid-template-columns: 50px 1fr;
        grid-template-rows: 1fr 80px;
        grid-template-areas: "sidebar content"
                             "footer  footer ";
    }

    .sidebar {
        display: grid;
        justify-items: center;
        align-items: center;
    }
}



